@import url('non.geist');
@import url('non.geist/font-faces/GeistMono-UltraBlack.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Geist Variable';
}

.l {
  font-family: 'GeistMono-UltraBlack';
}

.style {
  font-style: normal;
}


.bgg {
  border-radius: 2rem;
background: rgba(255, 255, 255, 0.10);
/* backdrop-filter: blur(50px); */
}
.bar {
  display: block;
  width: 12px;
  border-radius: 25%;
  height: 2.75px;
  /* margin: 5px auto; */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.menu-open {
  overflow: hidden;
}
.nav-menu {
  position: fixed;
  background: #010101;
  top: -150%;
  /* border: 2px solid red; */
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: 100vh;
  transition: top 0.5s ease-in-out;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.tes {
  transition: right 0.5s ease-in-out;
}

.nav-menu.active {
  top: 0;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 289;
}

.hamburger.active {
  left: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  transform: translateY(0px) rotate(-45deg);
}
.hamburger.active .dd {
  margin-bottom: 7px;
  transition: ease-in-out 0.5s;
}

.hero {
  background: url('./assets/Frame.png'), #010101;
  opacity: 0.8;
  object-fit: cover;
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media screen and (min-width: 780px) {
  
  .hero {
  background: url('./assets/Frame.png'), #010101;
  object-fit: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
    background-position: center;
    background-size: 100%, cover;
}


    .bar {
    width: 20px;
    border-radius: 50px;
  }

     .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(0px) rotate(-45deg);
  }

}