@import url("non.geist");
@import url("non.geist/font-faces/GeistMono-UltraBlack.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

body {
  font-family: "Geist Variable";
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.l {
  font-family: "GeistMono-UltraBlack";
}

.style {
  font-style: normal;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #605757;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #050c1c;
}

.bgg {
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(50px); */
}

.nav-menu {
  position: fixed;
  background: #010101;
  top: -150%;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: 100vh;
  transition: top 0.5s ease-in-out;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.tes {
  transition: right 0.5s ease-in-out;
}

.nav-menu.active {
  top: 0;
}

.nav-list {
  width: 90%;
}

.hero {
  background-image: url('./assets/BG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 100vh; */
}

.intro {
  margin-top: 14.69rem;
}

.heads {
  font-size: 2.2rem;
  text-wrap: balance;
}

/* g {
  transform: translateY(0%) !important;
} */

.gala img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.gala:hover img:not(.exclude) {
  transform: scale(1.2);
}
.bar {
  display: block;
  width: 3rem;
  border-radius: 3.125rem;
}

.text-stroke {
  /* -webkit-text-stroke: 1px white;
  font-family: sans-serif; */
  color: #fff;
  /* color: transparent; */
}

.circular-text{
    /* top: ; */
}

.spaced-words {
  word-spacing: 10px;
}


footer {
    border-top-left-radius: 30.6875rem;
    border-top-right-radius: 30.6875rem;
}

.white-hr {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #fff 51%, rgba(255, 255, 255, 0.00) 100%) border-box;
  border: 0.03125rem solid transparent;
}

.trans {
  transform: rotate(-90deg);
}

.footer-hr {
  background: linear-gradient(white, white) padding-box,
  linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #000 51%, rgba(0, 0, 0, 0.00) 100%) border-box;
  border: 0.03125rem solid transparent;
}

@media screen and (min-width: 400px) {
  .hero {
    height: 110vh;
  }
  .heads {
    font-size: 3rem;
    text-wrap: balance;
  }
  .intro {
    margin-top: 16.69rem;
  }
  .nav-list {
    width: 80%;
  }
}


@media screen and (min-width: 780px) {
  .hero {
    background: url("./assets/BG.png"), #010101;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 125vh;
  }
  footer {
    border-top-left-radius: 800%;
    border-top-right-radius: 800%;
}
}